body{
  margin: 0;
}
html, body, #app, .chat{
  height: 100%;
}
.message-list{
  height: 80%;
  overflow-y: scroll;
}
.message-composer{
  height: 20%;
}

.message-composer{
  display: flex;
}

.message-composer .composer{
  flex: 9 1 auto;
  padding: 1em;
}
.message-composer .composer textarea{
  width: 100%;
  height: 100%;
}
.message-composer .sender{
  flex: 1 1 auto;
}
.message-composer .sender button{
  width: 100%;
  height: 100%;

}

.message{
  border-radius: 5px;
  padding: 0.3em;
  margin: 5px 2em 0 2em;
  width: fit-content;
  max-width: 60%;
}
.message img{
  max-width: 100%;
}
.message.user{
  background-color: dodgerblue;
}
.message.bot{
  background-color: palegreen;
  margin-right: 2em;
  margin-left: auto;
}